.footer-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  color: aliceblue;
  width: 100%;
  min-height: 7rem;
  max-height: max-content;
  padding: 10px 10px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-col {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-anchor {
  color: aliceblue;
  text-decoration: none;
}

.footer-anchor:hover {
  color: #1f97b6a7;

  text-decoration: underline;
}

.footer-line {
  color: aliceblue;
  width: 100%;
}

@media (max-width: 1000px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    width: 75%;
    margin-top: 1rem;
  }
}
